body {
    margin: 0;
    padding: 0;
    animation-name: colours;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes colours{
  0%		{ background-color: #F5624D;}
  25%		{ background-color: #0F8A5F;}
  50%		{ background-color: #235E6F;}
  75%		{ background-color: #CC231E;}
  100%	{ background-color: #34A65F;}       
}

body.preloader-site {
  overflow: hidden;
}

.preloader-wrapper {
  background-color: #235E6F;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
}

.preloader-wrapper .preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  background: #000000;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 1px;

  font-family: 'Mountains of Christmas', cursive;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.p {
  margin: 1vh 1vw 1vw 1vh;
}

.center-screen {
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}